<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>新浪微博swift版本.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EBD615091C5B8271002CC242</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EBD6151D1C5B8272002CC242</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EBD615281C5B8272002CC242</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
